#footer {
    background-color: var(--black-color);
}

.footer__heading {
    position: relative;
    padding: 70px 0;
}

.footer__heading::after {
    position: absolute;
    content: "";
    background-color: var(--gray-color);
    max-width: 1230px;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__heading .inner h2 {
    font-size: 3.6rem;
    font-weight: 700;
}

.footer__heading .btn-default {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: transparent;
    border: 2px solid var(--gray-color);
    transition: all .5s;
}

.footer__heading .btn-default:hover {
    border: 2px solid var(--pink-color);
    background-color: var(--pink-color);
}

/* Footer wrapper */
.footer__wrapper {
    padding: 70px 0;
}

.footer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__text .logo {
    margin-bottom: 30px;
}

.footer__text .logo a {
    display: block;
}

.footer__text .logo a img {
    max-width: 40%;
}

.footer__text p {
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}

.footer__text p a {
    color: #757575;
    text-decoration: none;
    position: relative;
}

.footer__text p a:hover{
    color: var(--pink-color);
}

.footer__text p a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--pink-color) 79.69%);
    transition: all .5s;
}

.footer__text p a:hover::after{
    width: 100%;
}

.footer__link h4 {
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--white-color);
    font-size: 20px;
}

.footer__link .footer__list li {
    margin-top: 13px;
    color: #757575;
    font-size: 16px;
}

.footer__link .footer__list li a {
    color: #757575;
    font-size: 16px;
    padding: 5px 0;
    text-decoration: none;
    position: relative;
}

.footer__link .footer__list li a:hover{
    color: var(--pink-color);
}

.footer__link .footer__list li a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--pink-color) 79.69%);
    transition: all .5s;
}

.footer__link .footer__list li a:hover::after{
    width: 100%;
}

.footer__social--share{
    gap: 15px;
}

.footer__social--share li{
    margin: 6px;
    transition: all .3s;
}

.footer__social--share li:hover{
    transform: translateY(-4px);
}

.footer__social--share li:hover a i{
    color: var(--white-color);
}

.footer__social--share li a {
    border: 0 none;
    width: 30px;
    height: auto;
    text-align: left;
    line-height: inherit;
    font-size: 16px;
}

.footer__social--share li a i {
    color: rgba(198, 201, 216, 0.75);
}