html{
    font-size: 62.5%;
}

a{
    /* text-decoration: none; */
}

li{
    list-style: none;
}

img{
    width: 100%;
}

ul{
    padding: 0;
}

.backToTop{
    background-color: transparent;
    border: 2px solid #56565b;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.backToTop i{
    font-size: 1.6rem;
    color: var(--pink-color);
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.cd-top--fade-out { 
    opacity: 1;
    border: 2px solid var(--pink-color);
    transition: all .5;
}